@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Nunito&family=Raleway&display=swap");

:root {
  --primary-color: rgb(42, 46, 55);
  --secondary-color: rgb(47, 54, 70);
  --tertiary-color: rgb(196, 91, 220);
  --primary-text: rgb(211, 214, 221);
  --secondary-text: rgb(172, 175, 182);
  --tertiary-text: rgb(196, 91, 220);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  place-content: center;
  place-items: center;
  font-family: "Nunito";
  background-color: var(--primary-color);
}

.container {
  margin: auto;
  width: 300px;
  border-radius: 2rem;
  overflow: hidden;
  border: 0.25rem solid var(--primary-text);
}

.screen {
  background-color: var(--primary-color);
  padding: 3rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
  gap: 0.25rem;
}

.display {
  color: var(--secondary-text);
  font-size: 1.25rem;
  height: 30px;
}

.calc-input {
  color: var(--primary-text);
  background-color: inherit;
  width: 100%;
  border: none;
  outline: none;
  caret-color: transparent;
  font-size: 62px;
  text-align: end;
  font-family: "Nunito";
  cursor: default;
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  background-color: var(--primary-color);
}

button {
  height: 75px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-text);
  font-size: 1.5rem;
  font-family: "Aboreto";
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color);
  transition: background-color 0.3s;
}

.equal-button {
  grid-row: 4 / span 2;
  height: unset;
  grid-column: 4;
}

.tertiary-text {
  color: var(--tertiary-text);
}

.tertiary-bg {
  background-color: var(--tertiary-color);
}
