@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --bg-color-primary: #181818;
  --bg-color-secondary: #202020;
  --border-color: gainsboro;
  --primary-color: cadetblue;
  --paint-color: cadetblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color-primary);
  color: white;
  font-family: "Aboreto";
  gap: 3rem;
  padding: 3rem 1rem;
}

button {
  font-family: "Roboto Condensed";
  padding: 0.5rem;
  font-weight: 900;
  color: var(--bg-color-secondary);
  border: none;
  outline: none;
}

button:hover {
  transform: translate(1px, 1px);
}

button:active {
  transform: translate(2px, 2px);
}

.app-title {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.settings {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--bg-color-secondary);
  justify-content: space-between;
}

legend {
  padding: 0 0.5rem;
}

.setting {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grid-container {
  display: grid;
  background-color: var(--bg-color-secondary);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 450px;
  height: 450px;
}

.grid-item {
  background-color: white;
  border: 1px solid var(--border-color);
}

.paint {
  background-color: var(--paint-color);
}

.btn-active {
  background-color: var(--primary-color);
}

.disable {
  opacity: 0.4;
  pointer-events: none;
}
