@import url("https://fonts.googleapis.com/css2?family=Lacquer&family=Silkscreen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  user-select: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  gap: 2rem;
  background-image: url("./background.jpg");
  font-family: Impact;
}

.header {
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.header > h1 {
  font-size: 4rem;
  font-family: "Silkscreen";
}

.header > h2 {
  font-size: 3rem;
  font-family: "Lacquer";
  color: darkred;
  margin-top: 0.5rem;
}

.container {
  flex: 1;
  display: flex;
  padding: 0.5rem;
  position: relative;
}

.landing-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.landing-content > p {
  font-size: 2rem;
  font-family: "Lacquer";
  position: absolute;
  text-align: center;
  line-height: 42px;
}

.btn {
  font-size: 1.25rem;
  font-family: Silkscreen;
  padding: 0.75rem;
  font-weight: 900;
  letter-spacing: -2px;
  box-shadow: 5px 6px 0;
  cursor: pointer;
  border-radius: 0.25rem;
}

.btn:hover {
  background-color: lightgray;
  box-shadow: 4px 4px 1px;
  transform: translate(1%, 1%);
}

.btn:active {
  box-shadow: none;
  transform: translate(3px, 4px);
}

.game-content {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: baseline;
  letter-spacing: 1px;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  position: absolute;
  left: 0;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: rgb(70, 70, 70);
  border-radius: 0.5rem;
}

.score-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.score-row > img {
  width: 50px;
}

.options {
  display: flex;
  gap: 1.5rem;
}

.option {
  background-color: white;
  color: black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 120px;
  gap: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 900;
  box-shadow: 5px 6px 0;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.option:hover {
  background-color: lightgray;
  transform: translate(1%, 1%);
  box-shadow: 4px 4px 1px;
}

.option:active {
  box-shadow: none;
  transform: translate(3px, 4px);
}

.option > img {
  max-width: 50px;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.modal-container {
  background-color: white;
  color: black;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border: 0.25rem solid black;
}

.modal-container > .btn {
  margin-top: 1rem;
}

.modal-container > h2 {
  font-weight: 100;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s linear 0.7s, opacity 0.7s;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.7s;
}

.btn-fade-in {
  margin-top: 2rem;
  opacity: 1;
  transition: margin-top 0.7s, opacity 0.7s;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s, visibility 0s linear 0.7s;
}

.player-color {
  background-color: mediumseagreen !important;
}

.computer-color {
  background-color: rgb(121, 135, 233) !important;
}

@media only screen and (max-width: 490px) {
  .header > h1 {
    font-size: 3.5rem;
  }

  .header > h2 {
    font-size: 2.5rem;
  }
  .card {
    padding: 1rem;
    gap: 1rem;
  }
  .options {
    gap: 0.5rem;
  }
  .option {
    width: 100px;
    height: 100px;
    padding: 0;
    justify-content: center;
  }
}
@media only screen and (max-width: 375px) {
  .header > h1 {
    font-size: 3rem;
  }

  .header > h2 {
    font-size: 2rem;
  }

  .landing-content > p {
    font-size: 1.75rem;
  }

  .card {
    padding: 0.75rem;
  }

  .option {
    width: 85px;
    height: 85px;
  }

  .option > img {
    max-width: 40px;
  }
}
